@{
    var supplierInfo = ViewBag.SupplierInfo as M_Supplier;
}
<section class="team-section section-lg-space div_img">
    <div class="container-fluid-lg">
        <div class="about-us-title text-center">
            <h2 class="center">HỖ TRỢ KHÁCH HÀNG</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="div_slide_support product-wrapper">
                    <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="@supplierInfo.zalo">
                                    <img src="/img_dev/logoZalo.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 style="background-color: #0d6efd" class="text-white">ZALO</h3>
                                <a target="_blank" href="@supplierInfo.zalo" class="font_name">
                                    SITTO VIỆT NAM
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="@supplierInfo.youtube">
                                    <img src="/img_dev/logoYTB.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 class="text-white bg-danger">YOUTUBE</h3>
                                <a target="_blank" href="@supplierInfo.youtube" class="font_name">
                                    SITTO VIỆT NAM - BẠN CỦA NHÀ NÔNG
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="https://www.facebook.com/SittoVietNam2005">
                                    <img src="/img_dev/facebook.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 style="background-color: #1261d4" class="text-white">FACEBOOK</h3>
                                <a target="_blank" href="https://www.facebook.com/SittoVietNam2005" class="font_name">
                                    SITTO VIỆT NAM
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="@supplierInfo.appUrl">
                                    <img src="/img_dev/logoNP.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 style="background-color: #70c91c" class="text-white knowledge_clamp_item notranslate">GOOGLE PLAY</h3>
                                <a target="_blank" href="@supplierInfo.appUrl" class="font_name">
                                    ỨNG DỤNG NÔNG PHÚ
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="https://apps.apple.com/vn/app/n%C3%B4ng-ph%C3%BA/id1287818729?l">
                                    <img src="/img_dev/logoNP.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 style="background-color: #70c91c" class="text-white notranslate">APP STORE</h3>
                                <a target="_blank" href="https://apps.apple.com/vn/app/n%C3%B4ng-ph%C3%BA/id1287818729?l" class="font_name ">
                                    ỨNG DỤNG NÔNG PHÚ
                                </a>
                            </div>
                        </div>
                    </div>
                  @*  <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="https://tiki.vn/cua-hang/sitto-viet-nam">
                                    <img src="/img_dev/logoTiki.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 style="background-color: blue" class="text-white">SITTO</h3>
                                <a target="_blank" href="https://tiki.vn/cua-hang/sitto-viet-nam" class="font_name">
                                    SITTO
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="team_image_css box_shadow_img">
                                <a target="_blank" href="https://www.lazada.vn/shop/sitto-viet-nam">
                                    <img src="/img_dev/logoLazada.png" class="img-fluid blur-up lazyload support_img_css w-100 h-100"
                                         alt="">
                                </a>
                            </div>

                            <div class="team-name">
                                <h3 style="background-color: #fd05fb" class="text-white">LAZADA</h3>
                                <a target="_blank" href="https://www.lazada.vn/shop/sitto-viet-nam" class="font_name">
                                    SITTO VIỆT NAM
                                </a>
                            </div>
                        </div>
                    </div>*@
                    
                </div>
            </div>
        </div>
    </div>
</section>
